<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The Home Page <%= 10 - 3%></h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex recusandae minus aliquid illum repellat provident
        deleniti sed, dicta voluptate porro repudiandae magnam ab unde eveniet inventore eaque iure enim dolorem!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam odit cumque nostrum maxime impedit, mollitia
        temporibus, culpa facilis obcaecati suscipit exercitationem aut voluptatum inventore vitae omnis non eaque
        repudiandae explicabo?</p>
</body>

</html>